In [18]:
import pandas as pd

In [19]:
data=pd.read_csv('마켓컬리_레시피_라벨링용.csv')

In [20]:
data

        id                 name ingredient quantity
0        0              레이어드 초밥       아보카도     1/2개
1        1              레이어드 초밥          밥     300g
2        2              레이어드 초밥        김자반      5큰술
3        3              레이어드 초밥        와사비     1작은술
4        4              레이어드 초밥        생연어      90g
...    ...                  ...        ...      ...
1535  1535  닭가슴살 바질페스토 파니니 샌드위치       닭가슴살       1팩
1536  1536  닭가슴살 바질페스토 파니니 샌드위치        토마토     1/2개
1537  1537  닭가슴살 바질페스토 파니니 샌드위치      바질페스토      2큰술
1538  1538  닭가슴살 바질페스토 파니니 샌드위치          빵       1개
1539  1539  닭가슴살 바질페스토 파니니 샌드위치       개복숭아     2-3개

[1540 rows x 4 columns]

In [21]:
title=pd.DataFrame(data['name'])

In [22]:
title=title.drop_duplicates(['name'],keep='first').reset_index(drop=True)

In [23]:
title.index

RangeIndex(start=0, stop=230, step=1)

In [24]:
title['code']=title.index

In [25]:
title

                    name  code
0                레이어드 초밥     0
1                  어묵면볶이     1
2            바질 토마토 에그인헬     2
3             단호박 곤약 콩국수     3
4                 그릭 복숭아     4
..                   ...   ...
225             쇠고기 스키야키   225
226             달콤한 팬케이크   226
227               칠리 핫도그   227
228                 유자폰즈   228
229  닭가슴살 바질페스토 파니니 샌드위치   229

[230 rows x 2 columns]

In [26]:
title=title[['code','name']]

In [27]:
title.to_csv('food_title.csv')

In [28]:
title

     code                 name
0       0              레이어드 초밥
1       1                어묵면볶이
2       2          바질 토마토 에그인헬
3       3           단호박 곤약 콩국수
4       4               그릭 복숭아
..    ...                  ...
225   225             쇠고기 스키야키
226   226             달콤한 팬케이크
227   227               칠리 핫도그
228   228                 유자폰즈
229   229  닭가슴살 바질페스토 파니니 샌드위치

[230 rows x 2 columns]

In [29]:
data=pd.merge(data,title, how='left', on=None)

In [30]:
data

        id                 name ingredient quantity  code
0        0              레이어드 초밥       아보카도     1/2개     0
1        1              레이어드 초밥          밥     300g     0
2        2              레이어드 초밥        김자반      5큰술     0
3        3              레이어드 초밥        와사비     1작은술     0
4        4              레이어드 초밥        생연어      90g     0
...    ...                  ...        ...      ...   ...
1535  1535  닭가슴살 바질페스토 파니니 샌드위치       닭가슴살       1팩   229
1536  1536  닭가슴살 바질페스토 파니니 샌드위치        토마토     1/2개   229
1537  1537  닭가슴살 바질페스토 파니니 샌드위치      바질페스토      2큰술   229
1538  1538  닭가슴살 바질페스토 파니니 샌드위치          빵       1개   229
1539  1539  닭가슴살 바질페스토 파니니 샌드위치       개복숭아     2-3개   229

[1540 rows x 5 columns]

In [31]:
data=data[['id','code','name','ingredient','quantity']]

In [32]:
data

        id  code                 name ingredient quantity
0        0     0              레이어드 초밥       아보카도     1/2개
1        1     0              레이어드 초밥          밥     300g
2        2     0              레이어드 초밥        김자반      5큰술
3        3     0              레이어드 초밥        와사비     1작은술
4        4     0              레이어드 초밥        생연어      90g
...    ...   ...                  ...        ...      ...
1535  1535   229  닭가슴살 바질페스토 파니니 샌드위치       닭가슴살       1팩
1536  1536   229  닭가슴살 바질페스토 파니니 샌드위치        토마토     1/2개
1537  1537   229  닭가슴살 바질페스토 파니니 샌드위치      바질페스토      2큰술
1538  1538   229  닭가슴살 바질페스토 파니니 샌드위치          빵       1개
1539  1539   229  닭가슴살 바질페스토 파니니 샌드위치       개복숭아     2-3개

[1540 rows x 5 columns]

In [17]:
data.to_csv('food.csv')